<%= form_tag model: @author do |p| %>  
    
  # <p>
  #   <%= p.label :first_name %><br>
  #   # <%= f.label :first_name %><br>
  #   <%= p.text_field :first_name %>
  # </p>
  
  # <p>
  #   <%= p.label :Last_name %><br>
  #   <%= p.text_area :Last_name %>
  # </p>
  
  # <p>
  #   <%= p.submit %>
  # </p>
  
<% end %>